<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="header">
        <div>
            <img style="width: 300px; height: auto;" src="https://scontent.fsgn5-12.fna.fbcdn.net/v/t39.30808-6/358428018_1461948177896281_7583785874736907680_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=a5f93a&_nc_ohc=fB8i3cJhdN0Q7kNvgEWQAKv&_nc_zt=23&_nc_ht=scontent.fsgn5-12.fna&_nc_gid=Acrie8kDbykLLhjgnjXPnPW&oh=00_AYCWQ7MlT4NU2DncYkuYnreJx94wQP9qTykIaUnH0E0UfQ&oe=6724CF31" alt="Võ Văn Tuấn">
        </div>
    </div>
</html>

